body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

label, input {
    width: 80%; /* Adjust the width of input boxes */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
/*  background-color: #222;*/
/*  background-image: url('https://source.unsplash.com/1600x900/?winter,snow');*/
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

input, button {
  margin: 5px auto; /* Center the input boxes and buttons */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}


button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #2980b9;
}

button:active {
  transform: scale(0.98);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}



#searchResult {
  color: #333;
  font-size: 1.1rem;
  margin-top: 20px;
}

#submittedData {
  color: #333;
  font-size: 1.1rem;
  margin-top: 20px;
  font-weight: 500;
}


.fa-snowflake {
  position: absolute;
  top: -10px;
  animation: fall 10s linear infinite;
}

.snowflake {
  color: lightblue;
}

@keyframes fall {
  0% {
    transform: translate(0, -100px) rotate(0deg);
  }
  100% {
    transform: translate(0, 100vh) rotate(360deg);
  }
}

